<a href="https://colab.research.google.com/github/shlee0619/workR/blob/main/1203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 데이터프레임
# 1) 벡터를 이용
english <- c(70,80,90,100)
math <- c(50,60,70,80)
class <- c(1,1,2,2)
english;math;class
df_midterm <- data.frame(english,
                         math,
                         class)
df_midterm

In [ ]:
# 2) 직접 생성
df_midterm <- data.frame(english = c(70,80,90,100),
                         math = c(50,60,70,80),
                         class = c(1,1,2,2))
df_midterm

In [ ]:
# 영어 평균 점수
mean(df_midterm$english)
# 수학 평균 점수
mean(df_midterm$math)
#

In [ ]:
# Q1. data.frame()과 c()를 조합해서 표의 내용을 데이터 프레임으로 만들어 출력해보세요.
# fruit	price	quantity
# apple	1800	24
# strawberry	1500	38
# water-melon	3000	13
sales <- data.frame(fruit = c("apple", "strawberry", "water-melon"),
                    price = c(1800, 1500, 3000),
                    quantity = c(24, 38, 13))
sales
# Q2. 앞에서 만든 데이터 프레임을 이용해서 과일 가격 평균, 판매량 평균을 구해보세요.
mean(sales$price)
mean(sales$quantity)
#

In [ ]:
# 외부데이터 불러오기
# 엑셀데이터
library(readxl)
df_exam <- read_excel("./data/excel_exam.xlsx")
head(df_exam)
# 평균
mean(df_exam$math)
mean(df_exam$english)
mean(df_exam$science)

In [ ]:
# 열 이름이 없는 경우
df_exam <- read_excel("./data/excel_exam_novar.xlsx", col_names = F)
head(df_exam)
colnames(df_exam) <- c("id","class","math","english","science")
head(df_exam)

In [ ]:
# 데이터가 시트로 구별되어 있는 경우
# 시트 번호
df_exam <- read_excel("./data/excel_exam_sheet.xlsx", sheet = 3)
head(df_exam)

In [ ]:
# 시트 이름
df_exam <- read_excel("./data/excel_exam_sheet.xlsx", sheet = "Sheet3")
head(df_exam)
df_exam <- read_excel("./data/excel_exam_sheet.xlsx", sheet = "exam")
head(df_exam)

In [ ]:
# csv데이터
# 열 이름이 있는 경우
df_csv_exam <- read.csv("./data/csv_exam.csv")
head(df_csv_exam)

In [ ]:
# 열 이름이 없는 경우
df_csv_exam <- read.csv("./data/csv_exam.csv", header = F)
#
head(df_csv_exam)

In [ ]:
# 텍스트데이터
df_txt_exam <- read.csv("./data/csv_exam.txt", sep = "\t")
str(df_txt_exam)
#

In [ ]:
# 데이터 저장하기
sales
# csv파일로 저장하기
write.csv(sales, file = "./data/sales.csv")
write.csv(sales, file = "./data/sales.csv", row.names = FALSE)

In [ ]:
# 데이터 객체 삭제
rm(sales)
sales

In [ ]:
# csv파일 불러오기
sales <- read.csv("./data/sales.csv")
head(sales)
#

In [ ]:
# rdata로 저장하기
save(sales, file = "./data/sales.rda")
# 데이터 객체 삭제
rm(sales)
sales
# rdata 불러오기
load("./data/sales.rda")
sales

In [ ]:
# 여러개의 객체 저장하기 = rda
sales <- data.frame(fruit = c("apple", "strawberry", "water-melon"),
                    price = c(1800, 1500, 3000),
                    quantity = c(24, 38, 13))
df_midterm <- data.frame(english = c(70,80,90,100),
                         math = c(50,60,70,80),
                         class = c(1,1,2,2))
save(sales, df_midterm, file = "./data/sample.rda")
load("./data/sample.rda")

In [ ]:
# RDS 도 있으나, 할당하는 방식으로 불러와야 함
saveRDS(df_midterm,file = "./data/df_midterm.rds")
df_midterm <- readRDS("./data/df_midterm.rds")
df_midterm
# 여러 개 저장 안됨
saveRDS(sales, df_midterm, file = "./data/sample.rds")
#

In [ ]:
# 내장데이터 불러오기
mpg <- as.data.frame(ggplot2::mpg)
# 데이터 앞부분 보기, 기본 값이 6개의 행
head(mpg)
# 2개의 행만 보고 싶다면
head(mpg, 2)
# 데이터 뒤부분 보기, 기본 값이 6개의 행
tail(mpg)
# 2개의 행만 보고 싶다면
tail(mpg, 2)
# 데이터 전체 구조나 속성 보기
str(mpg)
# 차원(행과 열의 개수) 출력
dim(mpg)
# 행 개수만 알고 싶다면
dim(mpg)[1]
# 열 개수만 알고 싶다면
dim(mpg)[2]
# 새로운 창에서 전체 데이터 보기
View(mpg)

In [ ]:
# 데이터 분포 보기
summary(mpg)
table(mpg$trans)
table(mpg$model)
#

In [ ]:
# 데이터 수정
library(tidyverse)
# 샘플 데이터 생성
df_raw <- data.frame(var1 = c(1,2,1),
                     var2 = c(2,3,2))
df_raw
# 복사본 만들기
df_new <- df_raw
df_new
# 변수 이름 변경
df_new <- rename(df_new,
                 v2 = var2)
df_new
#

In [ ]:
# mpg 데이터의 변수명은 긴 단어를 짧게 줄인 축약어로 되어있습니다. cty 변수는 도시 연비, hwy 변수는 고속도로 연비를 의미합니다. 변수명을 이해하기 쉬운 단어로 바꾸려고 합니다. mpg 데이터를 이용해서 아래 문제를 해결해 보세요.
# •	Q1. ggplot2 패키지의 mpg 데이터를 사용할 수 있도록 불러온 뒤 복사본을 만드세요.
mpg <- as.data.frame(ggplot2::mpg)
mpg_new <- mpg
# •	Q2. 복사본 데이터를 이용해서 cty는 city로, hwy는 highway로 변수명을 수정하세요.
mpg_new <- rename(mpg_new,
                  city = cty,
                  highway = hwy)
mpg_new
# •	Q3. 데이터 일부를 출력해서 변수명이 바뀌었는지 확인해 보세요. 아래와 같은 결과물이 출력되어야 합니다.
head(mpg_new)
#

In [ ]:
# 새로운 변수 만들기
df <- data.frame(var1 = c(4,8,6),
                 var2 = c(2,5,4))
df
# 합계 변수
df$sum <- df$var1 + df$var2
df
# 평균 변수
df$mean <- df$sum/2
df
#
(df$var1 + df$var2)/ncol(df)

In [ ]:
# 통합연비 변수
mpg$total <- (mpg$cty + mpg$hwy)/2
head(mpg)
summary(mpg$total)
hist(mpg$total)

In [ ]:
# 통합연비 변수를 범주형 변수로 만들기
# ifelse(조건,조건을 만족할 때 값, 조건을 만족하지 않을 때 값)
mpg$test <- ifelse(mpg$total >= 20, "pass", "fail")
head(mpg)
# 빈도표
table(mpg$test)
# 막대그래프
library(ggplot2)
qplot(mpg$test)

In [ ]:
# 3개의 그룹을 가지는 범주형 변수 만들기
# 25보다 크면 A등급
# 20보다 크면 B등급
# 나머지는 C등급
mpg$grade <- ifelse(mpg$total >= 25, "A",
                    ifelse(mpg$total >= 20, "B", "C"))
head(mpg)
table(mpg$grade)
qplot(mpg$grade)

In [ ]:
# 4개의 그룹을 가지는 범주형 변수 만들기
# 30보다 크면 A등급
# 25보다 크면 B등급
# 20보다 크면 C등급
# 나머지는 D등급
mpg$grade_new <- ifelse(mpg$total >= 30, "A",
                    ifelse(mpg$total >= 25, "B",
                           ifelse(mpg$total >= 20, "C", "D")))
head(mpg)
table(mpg$grade_new)
qplot(mpg$grade_new)
#

In [ ]:
# ggplot2 패키지에는 미국 동북중부 437개 지역의 인구통계 정보를 담은 midwest라는 데이터가 포함되어 있습니다. midwest 데이터를 사용해 데이터 분석 문제를 해결해보세요.
# •	문제1. ggplot2의 midwest 데이터를 데이터 프레임 형태로 불러와서 데이터의 특성을 파악하세요.
library(ggplot2)
midwest <- as.data.frame(ggplot2::midwest)
head(midwest)
tail(midwest)
str(midwest)
View(midwest)
summary(midwest)
# •	문제2. poptotal(전체 인구)을 total로, popasian(아시아 인구)을 asian으로 변수명을 수정하세요.
library(tidyverse)
midwest <- rename(midwest,
                  total = poptotal,
                  asian = popasian)
head(midwest)
# •	문제3. total, asian 변수를 이용해 '전체 인구 대비 아시아 인구 백분율' 파생변수를 만들고, 히스토그램을 만들어 도시들이 어떻게 분포하는지 살펴보세요.
midwest$asian_pct <- (midwest$asian/midwest$total)*100
head(midwest)
hist(midwest$asian_pct)
# •	문제4. 아시아 인구 백분율 전체 평균을 구하고, 평균을 초과하면 "large", 그 외에는 "small"을 부여하는 파생변수를 만들어 보세요.
mean(midwest$asian_pct)
midwest$asian_pct_group <- ifelse(midwest$asian_pct > 0.4872462, "large", "small")
head(midwest)
# ifelse(midwest$asian_pct > mean(midwest$asian_pct), "large", "small")
# •	문제5. "large"와 "small"에 해당하는 지역이 얼마나 되는지, 빈도표와 빈도 막대 그래프를 만들어 확인해 보세요.
table(midwest$asian_pct_group)
qplot(midwest$asian_pct_group)
#

In [ ]:
# 데이터 전처리
library(tidyverse)
exam <- read.csv("./data/csv_exam.csv")
head(exam)
# 파이프라인: shift + ctrl + m
# %>%
# 조건에 맞는 행(데이터) 추출
table(exam$class)
# 같다
exam %>%
  filter(class == 1)
exam %>%
  filter(class == 6)
# 같지않다
exam %>%
  filter(class != 5)
# 크다 = 초과
exam %>%
  filter(math > 80)
# 크거나 같다 = 이상
exam %>%
  filter(math >= 80)
# 작다 = 미만
exam %>%
  filter(english < 68)
# 작거나 같다 = 이하
exam %>%
  filter(english <= 68)

In [ ]:
# 여러 개의 조건
# and = 교집합 / or 합집합
# and = 모든 조건을 만족하는 경우
exam %>%
  filter(class == 2 & science > 60)
# or = 조건 중 하나라도 만족하는 경우
exam %>%
  filter(math >= 90 | english >= 80)
# or 조건을 여러개 사용
exam %>%
  filter(class == 1 | class == 3 | class == 5)
exam %>%
  filter(class %in% c(1, 3, 5))

In [ ]:
# 조건에 맞는 행을 데이터로 저장
class135 <- exam %>%
  filter(class == 1 | class == 3 | class == 5)
class135
# 1반만 추출하여 저장
class1 <- exam %>%
  filter(class == 1)
# 3반만 추출하여 저장
class3 <- exam %>%
  filter(class == 3)
class1;class3
# 각 반의 수학 평균 점수
mean(class1$math)
mean(class3$math)
#

In [ ]:
# 산술연산자
# 더하기
3+4
# 빼기
4-3
# 곱하기
3*2
# 나누기
6/2
# 제곱
2^2
2**2
2^3
2**3
2^4
2**4
# 나누기의 몫
4 %/% 2
5 %/% 2
# 나누기의 나머지
4 %% 2
5 %% 2
#

In [ ]:
# mpg 데이터를 이용해 분석 문제를 해결해 보세요.
mpg <- as.data.frame(ggplot2::mpg)
# •	Q1. 자동차 배기량에 따라 고속도로 연비가 다른지 알아보려고 합니다. displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 알아보세요.
displ_low <- mpg %>% filter(displ <= 4)
displ_high <- mpg %>% filter(displ >= 5)
mean(displ_low$hwy)
mean(displ_high$hwy)
# •	Q2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 합니다. "audi"와 "toyota" 중 어느 manufacturer(자동차 제조 회사)의 cty(도시 연비)가 평균적으로 더 높은지 알아보세요.
audi <- mpg %>% filter(manufacturer == "audi")
toyota <- mpg %>% filter(manufacturer == "toyota")
mean(audi$cty)
mean(toyota$cty)
# •	Q3. "chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 합니다. 이 회사들의 자동차를 추출한 뒤 hwy 전체 평균을 구해보세요.
mpg_sub <- mpg %>% filter(manufacturer %in% c("chevrolet", "ford", "honda"))
mean(mpg_sub$hwy)
#

In [ ]:
# 열 = 변수 추출
head(exam)
# 변수 하나 추출
exam %>%
  select(math)
exam %>%
  select(science)
# 변수 여러 개 추출
exam %>%
  select(math, english, science)
# 특정 변수를 제외하고 추출
exam %>%
  select(-id)
exam %>%
  select(-id, -math)
# 변수를 추출하여 저장
score <- exam %>%
  select(math, english, science)
score
# 행과 열을 동시에 추출
exam %>%
  filter(class == 3) %>%
  select(science)
# 행과 열을 동시에 추출하여 저장
class3_science <- exam %>%
  filter(class == 3) %>%
  select(science)
class3_science
# 데이터 앞부분만 빠르게 조회하고 싶을 때
# 3개의 행만 보기
exam %>%
  filter(class %in% c(1, 3, 5)) %>%
  select(english, science) %>%
  head(3)
# 기본값 = 6개 행 보기
exam %>%
  filter(class %in% c(1, 3, 5)) %>%
  select(english, science) %>%
  head
exam %>%
  filter(class %in% c(1, 3, 5)) %>%
  select(english, science) %>%
  head()
#

In [ ]:
# mpg 데이터를 이용해서 분석 문제를 해결해보세요.
mpg <- as.data.frame(ggplot2::mpg)
# •	Q1. mpg 데이터는 11개 변수로 구성되어 있습니다. 이 중 일부만 추출해서 분석에 활용하려고 합니다. mpg 데이터에서 class(자동차 종류), cty(도시 연비) 변수를 추출해 새로운 데이터를 만드세요. 새로 만든 데이터의 일부를 출력해서 두 변수로만 구성되어 있는지 확인하세요.
mpg_new <- mpg %>%
  select(class, cty)
head(mpg_new)
# •	Q2. 자동차 종류에 따라 도시 연비가 다른지 알아보려고 합니다. 앞에서 추출한 데이터를 이용해서 class(자동차 종류)가 "suv"인 자동차와 "compact"인 자동차 중 어떤 자동차의 cty(도시 연비)가 더 높은지 알아보세요.
suv <- mpg_new %>%
  filter(class == "suv")
compact <- mpg_new %>%
  filter(class == "compact")
mean(suv$cty)
mean(compact$cty)
#

In [ ]:
# 정렬하기
library(tidyverse)
exam <- read.csv("./data/csv_exam.csv")
head(exam)
# 오름차순 = 낮은 값에서 높은 값으로 정렬
exam %>%
  arrange(id)
exam %>%
  arrange(math)
# 내림차순 = 높은 값에서 낮은 값으로 정렬
exam %>%
  arrange(desc(math))
# 변수 여러개로 정렬
exam %>%
  arrange(class, science)
exam %>%
  arrange(class, desc(science))
#

In [ ]:
# mpg 데이터를 이용해서 분석 문제를 해결해보세요.
mpg <- as.data.frame(ggplot2::mpg)
# •	"audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 높은지 알아보려고 합니다. "audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 자동차의 데이터를 출력하세요.
mpg %>%
  filter(manufacturer == "audi") %>%
  arrange(desc(hwy)) %>%
  head(5)
#

In [ ]:
# 새로운 변수 생성
str(exam)
# 변수 하나
exam %>%
  mutate(score_sum = math + english + science)
# 변수 2개
exam %>%
  mutate(score_sum = math + english + science,
         score_mean = (math + english + science)/3)
exam %>%
  mutate(score_sum = math + english + science,
         score_mean = score_sum/3)

In [ ]:
# 범주형 변수 만들기
exam %>%
  mutate(math_test = ifelse(math >= 80, "pass", "fail"))
# 새로 만든 변수를 이용해서 바로 함수에 적용
exam %>%
  mutate(score_sum = math + english + science) %>%
  arrange(score_sum)
exam %>%
  mutate(score_sum = math + english + science) %>%
  arrange(desc(score_sum))
#

In [ ]:
# mpg 데이터를 이용해서 분석 문제를 해결해보세요.
mpg <- as.data.frame(ggplot2::mpg)
# mpg 데이터는 연비를 나타내는 변수가 hwy(고속도로 연비), cty(도시 연비) 두 종류로 분리되어 있습니다. 두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 분석하려고 합니다.
# •	Q1. mpg 데이터 복사본을 만들고, cty와 hwy를 더한 '합산 연비 변수'를 추가하세요.
mpg_new <- mpg
mpg_new <- mpg_new %>%
  mutate(sum = cty + hwy)
head(mpg_new)
# •	Q2. 앞에서 만든 '합산 연비 변수'를 2로 나눠 '평균 연비 변수'를 추가하세요.
mpg_new <- mpg_new %>%
  mutate(mean = sum/2)
head(mpg_new)
# •	Q3. '평균 연비 변수'가 가장 높은 자동차 3종의 데이터를 출력하세요.
mpg_new %>%
  arrange(desc(mean)) %>%
  head(3)
# •	Q4. 1~3번 문제를 해결할 수 있는 하나로 연결된 tidyverse(dplyr) 문을 만들어 출력하세요. 데이터는 복사본 대신 mpg 원본을 이용하세요.
mpg %>%
  mutate(sum = cty + hwy,
         mean = sum/2) %>%
  arrange(desc(mean)) %>%
  head(3)
#

In [ ]:
# 요약하기
exam %>%
  summarise(math_mean = mean(math),
            english_mean = mean(english),
            science_mean = mean(science))
# 그룹별로 요약하기
exam %>%
  group_by(class) %>%
  summarise(math_mean = mean(math),
            english_mean = mean(english),
            science_mean = mean(science))
# 다른 요약 통계량
exam %>%
  group_by(class) %>%
  summarise(science_mean = mean(science),
            science_sum = sum(science),
            science_median = median(science),
            science_frequency = n())
# 제조회사와 구동방식 별로 고속도로 연비 평균값
mpg %>%
  group_by(manufacturer, drv) %>%
  summarise(hwy_mean = mean(hwy))
#

In [ ]:
# 회사별로 "suv" 자동차의 도시 및 고속도로 통합 연비 평균을 구해 내림차순으로 정렬하고, 1~5위까지 출력하기
# 1) filter: "suv" 자동차
# 2) mutate: 통합연비 변수 생성
# 3) group_by: 회사별로 그룹화
# 4) summarise: 통합연비 평균값 계산
# 5) arrange: 통합연비 평균값으로 내림차순 정렬
# 6) head: 5개의 행 출력
mpg <- as.data.frame(ggplot2::mpg)
head(mpg)
# 문제 풀이
mpg %>%
  filter(class == "suv") %>%
  mutate(total = (cty + hwy)/2) %>%
  group_by(manufacturer) %>%
  summarise(mean_total = mean(total)) %>%
  arrange(desc(mean_total)) %>%
  head(5)
#

In [ ]:
# mpg 데이터를 이용해서 분석 문제를 해결해 보세요.
mpg <- as.data.frame(ggplot2::mpg)
# •	Q1. mpg 데이터의 class는 "suv", "compact" 등 자동차를 특징에 따라 일곱 종류로 분류한 변수입니다. 어떤 차종의 연비가 높은지 비교해보려고 합니다. class별 cty 평균을 구해보세요.
mpg %>%
  group_by(class) %>%
  summarise(cty_mean = mean(cty))
# •	Q2. 앞 문제의 출력 결과는 class 값 알파벳 순으로 정렬되어 있습니다. 어떤 차종의 도시 연비가 높은지 쉽게 알아볼 수 있도록 cty 평균이 높은 순으로 정렬해 출력하세요.
mpg %>%
  group_by(class) %>%
  summarise(cty_mean = mean(cty)) %>%
  arrange(desc(cty_mean))
# •	Q3. 어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려고 합니다. hwy 평균이 가장 높은 회사 세 곳을 출력하세요.
mpg %>%
  group_by(manufacturer) %>%
  summarise(hwy_mean = mean(hwy)) %>%
  arrange(desc(hwy_mean)) %>%
  head(3)
# •	Q4. 어떤 회사에서 "compact"(경차) 차종을 가장 많이 생산하는지 알아보려고 합니다. 각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요.
mpg %>%
  filter(class == "compact") %>%
  group_by(manufacturer) %>%
  summarise(freq = n()) %>%
  arrange(desc(freq))
#

In [ ]:
# 데이터 합치기
# 데이터 준비
data1 <- data.frame(id = c(1,2,3,4,5),
                    midterm = c(60,80,70,90,85))
data2 <- data.frame(id = c(1,2,3,4,5),
                    final = c(70,83,65,95,80))
data1;data2
# 좌우로 합치기 = 다른 열
# 왼쪽 테이블 기준으로 합치기
data <- left_join(data1, data2, by = "id")
# 반 별 선생님 이름 데이터 합치기
name <- data.frame(class = c(1,2,3,4,5),
                   name = c("SONHM","HWANGHC","KIMMJ","KDB","CHABUM"))
# 학생들의 시험 점수 데이터가 모두 필요하므로 왼쪽 테이블은 exam
exam_name1 <- left_join(exam, name, by = "class")
exam_name2 <- merge(exam, name, by.x = "class")
# 교집합으로 합치기
data <- merge(data1, data2, by = "id")

In [ ]:
# 위 아래로 합치기 = 같은 열
data1 <- data.frame(id = c(1,2,3,4,5),
                    test = c(60,80,70,90,85))
data2 <- data.frame(id = c(6,7,8,9,10),
                    test = c(70,83,65,95,80))
data1;data2
#
data <- bind_rows(data1,data2)
data
rbind(data1,data2)
#

In [ ]:
# mpg 데이터를 이용해서 분석 문제를 해결해 보세요.
mpg <- as.data.frame(ggplot2::mpg)
# mpg 데이터의 fl 변수는 자동차에 사용하는 연료(fuel)를 의미합니다. 아래는 자동차 연료별 가격을 나타낸 표입니다.
fuel <- data.frame(fl = c("c", "d", "e", "p", "r"),
                   price_fl = c(2.35, 2.38, 2.11, 2.76, 2.22),
                   stringsAsFactors = F)
fuel
head(mpg)
# •	Q1. mpg 데이터에는 연료 종류를 나타낸 fl 변수는 있지만 연료 가격을 나타낸 변수는 없습니다. 위에서 만든 fuel 데이터를 이용해서 mpg 데이터에 price_fl(연료 가격) 변수를 추가하세요.
mpg_fuel <- left_join(mpg, fuel, by = "fl")
head(mpg_fuel)
# •	Q2. 연료 가격 변수가 잘 추가됐는지 확인하기 위해서 model, fl, price_fl 변수를 추출해 앞부분 5행을 출력해 보세요.
mpg_fuel %>%
  select(model, fl, price_fl) %>%
  head(5)
#

In [ ]:
# 데이터 정제
# 결측치 = MV(missing value) = NULL = NA
df <- data.frame(sex = c("M", "F", NA, "M", "F"),
                 score = c(5, 4, 3, 4, NA))
df
# 논리형으로 반환(참, 거짓)
is.na(df)
# NA 개수
table(is.na(df))
# 현재 데이터에는 결측치가 2개 있다
# 특정 열에서 NA 개수
table(is.na(df$sex))
# 현재 열에는 결측치가 1개 있다
table(is.na(df$score))
# 현재 열에는 결측치가 1개 있다
# 결측치가 있는 데이터를 이용해서 함수 사용
mean(df$score)
# 결측치가 있으면 평균 구할 수 없음
# => 결측치를 제거해야 함
# NA 제거하는 방법
df %>%
  filter(!is.na(score)) %>%
  summarise(mean(score))
mean(df[!is.na(df$score),]$score)
mean(df[!is.na(df$score),"score"])
# 함수에서 제공하는 NA 제거 옵션(na.rm = T)
mean(df$score, na.rm = T)
# NA 제거해서 저장한 뒤 함수 적용
df_nona <- df %>%
  filter(!is.na(score))
mean(df_nona$score)
# 성별과 점수의 NA 동시에 제거
df %>%
  filter(!is.na(sex) & !is.na(score))
# 모든 NA 제거
df_omit <- na.omit(df)
# 무조건 NA 다 제거하는 것이 좋은 것이 아님
# 점수의 평균을 구할 때는 5번째 NA 만 빼고 계산
# 성별의 빈도를 계산할 때는 3번째 NA 만 빼고 계산
table(df[!is.na(df$sex),"sex"])
table(df_omit$sex)
mean(df[!is.na(df$score),"score"])
mean(df_omit$score)
# exam 데이터로 실습
exam <- read.csv("./data/csv_exam.csv")
head(exam)
# 결측치 만들기
exam[c(5,10,15),"math"] <- NA
exam[c(5,10,15),"math"]
# NA 있으면 평균 계산 안됨
exam %>%
  summarise(math_mean = mean(math))
# 해결 방법: 1) NA 제거하고 계산
exam %>%
  filter(!is.na(math)) %>%
  summarise(math_mean = mean(math))
# 2) 함수의 NA 제거 옵션 사용
exam %>%
  summarise(math_mean = mean(math, na.rm = T))
# 결측치 대체 = imputation = 중심경향척도(평균, 중앙값) 대체
mean(exam$math, na.rm = T)
# 58.76471 (평균)으로 NA값 대체
table(is.na(exam$math))
# 현재 결측치 3개를 평균으로 대체
exam$math <- ifelse(is.na(exam$math), 58.76471, exam$math)
# 결측치 확인해보면 평균으로 대체되어서 결측치는 0개
table(is.na(exam$math))
#

In [ ]:
# mpg 데이터를 이용해서 분석 문제를 해결해 보세요.
mpg <- as.data.frame(ggplot2::mpg)
# mpg 데이터 원본에는 결측치가 없습니다. 우선 mpg 데이터를 불러와 몇 개의 값을 결측치로 만들겠습니다. 아래 코드를 실행하면 다섯 행의 hwy 변수에 NA가 할당됩니다.
mpg[c(65, 124, 131, 153, 212), "hwy"]
mpg[c(65, 124, 131, 153, 212), "hwy"] <- NA
mpg[c(65, 124, 131, 153, 212), "hwy"]

In [ ]:
# 결측치가 들어있는 mpg 데이터를 활용해서 문제를 해결해보세요.
# •	Q1. drv(구동방식)별로 hwy(고속도로 연비) 평균이 어떻게 다른지 알아보려고 합니다. 분석을 하기 전에 우선 두 변수에 결측치가 있는지 확인해야 합니다. drv 변수와 hwy 변수에 결측치가 몇 개 있는지 알아보세요.
table(is.na(mpg$drv))
table(is.na(mpg$hwy))
# •	Q2. filter()를 이용해 hwy 변수의 결측치를 제외하고, 어떤 구동방식의 hwy 평균이 높은지 알아보세요. 하나의 dplyr 구문으로 만들어야 합니다.
mpg %>%
  filter(!is.na(hwy)) %>%
  group_by(drv) %>%
  summarise(hwy_mean = mean(hwy))
#